@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none; 
}
.home.bg1{
    background-color: #070a09;
    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*  navbar   inicio*/

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: #00804b;
    padding: 15px 0;
}
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.navbar .logo a span{
    color: #00804b;
    transition: all 0.3 ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #00804b;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/*home*/
.home{
    display: flex;
    background: url(/assets/img/perfil2.png) no-repeat right ;
    
    background-size:100vmax;
    background-position-y: 10vmin;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin:auto 0 auto 10px;
}
.home .home-content .text-1{
    font-size: 24px;
    margin: 5px 0;
}
.home .home-content .text-2{
    font-size: 45px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #00804b;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
}
.home .home-content a:hover{
    color: #00804b;
    background: none;
}



/* Menu Mobile*/

.menu-btn{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
/*todos codigos similares*/
section{
    padding: 100px 0;
}
section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #00804b;
    padding: 5px;
    transform: translateX(-50%);
}
.about, .services, .skills, .pf .contact{
    font-family: 'Roboto', sans-serif;    
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*Sessão sobre*/


.about .title::after{
    content: "Quem sou eu";
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #00804b;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #00804b;
    background: none;
}

.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}
/*Sessão de Serviços*/
.services, .pf{
    background-color: #070a09;
    color: #fff;
}
.services .title::before,
.pf .title::before{
    background: #fff;
}
.services .title::after,
.pf .title::after{
    background: #111;
    content: "Que ofereço";
}
.services .serv-content .card{
    width:calc(40% - 10%); 
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #00804b;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card ion-icon{
    font-size: 70px;
    color: #00804b;
}
.services .serv-content .card:hover ion-icon{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
}
/*Sessão especialidades*/
.skills .title::after{
    content: "Que Faço";
}

.skills .skills-content .column {
    width: 40%;
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #00804b;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #00804b;
}
.skills .skills-content .right .html::before{
    width: 63%;
}.skills .skills-content .right .css::before{
    width: 74%;
}.skills .skills-content .right .javascript::before{
    width: 60%;
}.skills .skills-content .right .bootstrap::before{
    width: 51%;
}.skills .skills-content .right .Jquery::before{
    width: 54%;
}.skills .skills-content .right .git::before{
    width: 34%;
}.skills .skills-content .right .vue::before{
    width: 13%;
}.skills .skills-content .right .react::before{
    width: 19%;
}.skills .skills-content .right .figma::before{
    width: 45%;
}.skills .skills-content .right .scrum::before{
    width: 17%;
}
/*  Sessão Portifolio  */

.pf .title::after{
    content: "Detalhes"
}

.pf .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    margin: 0 10px;
}

.pf .carousel .card:hover{
    background: #00804b;
}
.pf .carousel .card img{
    width: 246px;
    height: 130px;
    object-fit:fill;
    border-radius: 5%;
    border: 5px solid #00804b;
    transition: all 0.3 ease;
    
}
.pf .carousel .card:hover img{
    border-color: #fff;
}
.pf .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.6 ease;
    
}
.pf .carousel .card:hover .box{
    transform: scale(1.05);
}
.pf a{
    color: #00804b;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;

}
.owl-dot{
    width: 14px;
    height: 14px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #00804b !important; 
}
.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}
.owl-dot.active, .owl-dot:hover{
    background: #00804b !important;;
}

/*Sessão Contato*/

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row .info .head{
    font-weight: 500;
}
.contact .contact-content .row .info .sub-title{
    color: #333;
}
.contact .contact-content .row ion-icon{
    font-size: 25px;
    color: #00804b;
}

/*Responsividade*/
@media (max-width: 1304px){
    .navbar .max-width{
        margin-left: 0;
        
    }
   
}
@media (max-width: 1004px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
   
}
@media (max-width: 981px){
    .navbar .max-width{
        padding: 0 50px;
    }
    
}
@media (max-width: 944px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    

    .navbar .menu{

        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #070a09;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3 ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    hr{
        display: none;
    }
    .home{
        background:no-repeat right ;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width:calc(50% - 10%);
        margin-bottom: 50px;

    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 758px){
    .home .home-content .text-2{
        font-size: 45px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width:100%;
        margin-bottom: 50px;

    }
}

@media (max-width: 565px){
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 30px;
    }
    .home .home-content .text-3{
        font-size: 21px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}
